.App{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  max-width: 400px;
  width: 100%;
  height: 430px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(53, 53, 53);
}

.display{
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-color: white;
}
.display p{
  margin: 0;
  text-align: end;
  font-size: 70px;
}
.buttons{
  margin-top: 20px;
  height: auto;
}

.row{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row p{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid black;
  width: 90px;
  height: 50px;
  border-radius: 3px;
  background: rgb(253, 253, 253);
  box-shadow: 0 -3px rgb(202, 202, 202) inset;
}